grant codeBase "file:${java.home}/lib/ext/*" { 
permission java.security.AllPermission; 
}; 

grant codeBase "file:bin/-"{
    permission java.util.PropertyPermission "user.dir", "read";

    permission java.net.SocketPermission "*:1-", "connect, resolve";

    permission java.io.FilePermission "test/-", "read";
    permission java.io.FilePermission "wall/-", "write";
    permission java.io.FilePermission "data/Personal User Files/-", "read";
};

grant codeBase "file:SeiTchiz.jar"{
    permission java.util.PropertyPermission "user.dir", "read";

    permission java.net.SocketPermission "*:1-", "connect, resolve";

    permission java.io.FilePermission "test/-", "read";
    permission java.io.FilePermission "wall/-", "write";
    permission java.io.FilePermission "data/Personal User Files/-", "read";
};