grant codeBase "file:./-"{
    permission java.util.PropertyPermission "user.dir", "read";

    permission java.net.SocketPermission "*:45678-", "connect, resolve";

    permission java.io.FilePermission "test/-", "read";
    permission java.io.FilePermission "wall/-", "write";
};